.users-view-container {
  display: flex;

  .card-container {
    // flex-basis: 20%;
    margin-left: 45px;
    margin-right: 15px;
    width: 255px;
  }

  .table-container {
    flex-grow: 1;
    margin-right: 45px;
  }
}
