.user-card-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 250px;
  border-radius: 7px;
  padding-bottom: 30px;

  .user-photo {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    border: 5px solid lightgray;
    margin: 10px auto 10px auto;
  }

  .user-details-container {
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;

    .key-value-container {
      display: flex;
      line-height: 1.9rem;

      .key {
        color: rgba(0, 0, 0, 0.5);
        text-align: right;
        flex-basis: 40%;
        padding-right: 5px;
      }

      .value {
        text-align: left;
        flex-basis: 60%;
        word-wrap: break-word;
        max-width: 130px;

        a {
          color: rgb(14, 173, 203);
        }
      }
    }
  }
}
