html {
  background: linear-gradient(
      to right bottom,
      #00805e,
      #007272,
      #006180,
      #004e82,
      #003874
    )
    no-repeat center center fixed;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}
